@model CG.MovieApp.UI.Models.CategoryModel

<br />
<br />


    <div class="col-sm-3">
    </div>
    <form asp-controller="Admin" asp-action="AddCategory" method="post">
        <div class="col-sm-6">
            <div class="form-group row">
                <label asp-for="Name" class="mr-sm-2"></label>
                <input type="text" class="form-control mb-2 mr-sm-2" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </div>
    </form>

    <div class="col-sm-3">
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />