@model CG.MovieApp.UI.Models.DirectorModel
<br />
<br />


<div class="col-sm-3">
</div>
<form asp-controller="Admin" asp-action="AddCategory" method="post">
    <div class="col-sm-6">
        <div class="form-group row">
            <label asp-for="Name" class="mr-sm-2"></label>
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="LastName" class="mr-sm-2"></label>
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="LastName">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="ImageUrl" class="mr-sm-2"></label>
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="ImageUrl">
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Country" class="mr-sm-2"></label>
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="Country">
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="BirthDate" class="mr-sm-2"></label>
            <input class="form-control mb-2 mr-sm-2" type="date" id="example-date-input" asp-for="BirthDate">
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </div>
</form>

<div class="col-sm-3">
</div>
</div>


@for (int i = 0; i < 15; i++)
{
    <br />
}