<div class="card mb-0">
    <div class="row no-gutter">
        <div class="col-md-6">
            <img src="~/img/f2.jpg" alt="" class="card-img" />
        </div>
        <div class="col-md-6">
            It is a long established fact that a reader will be sometimes on purpose (injected humour and the like).
        </div>
    </div>

