<!-- header -->
<div class="header">
    <div class="container">
        <div class="Ücretsiz Rresponsive Mobil Film Teması_logo">
            <a href="/home/index"><h1>One<span>Movies</span></h1></a>
        </div>
        <div class="w3_search">
            <form action="#" method="post">
                <input type="text" name="Search" placeholder="Search" required="">
                <input type="submit" value="Ara">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->