<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">Kategori 1</a>
    @for (int i = 1; i < 15; i++)
    {
        <a href="#" class="list-group-item list-group-item-action">Kategori @i </a>
        
    }
</div>